.navbar {
  display: flex;
  flex-direction: row;
  /* border: 1px black solid; */
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  height: 50px;
  background-color: #da2127;
  color: white;
  -webkit-text-stroke: 2px #003a73;
  font-weight: bolder;
  font-size: 2.2em;
  margin-top: 0px;
}

.nfl-logo {
  height: 101%;
  background-color: rgb(44, 44, 44);
  padding-bottom: 6px;
}

.left-navbar {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  /* border: 1px white solid; */
  width: 84vw;
}
.content {
  width: 89vw;
  margin-top: -8px;
  min-width: 770px;
}

.opponent {
  margin-bottom: -3px;
}
